body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 0;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #004080;
    font-size: 24px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

#name p {
    font-weight: bold;
}

#comment p {
    margin-top: 0;
}

#base_data p {
    margin-bottom: 10px;
}

#job p {
    font-weight: bold;
}


/* ナビゲーション用チェックボックス */
/* --------------------
  チェックボックスでメニュー項目の表示／非表示を切り替える。
  ブラウザ上にはチェックボックスを表示したくないため、
  「display: none;」で非表示にしている。
  -------------------- */
  .nav-toggle {
    display: none;
  }
  
  /* ハンバーガーボタン */
  .btn-burger {
    position: absolute; /* 親要素（.header）を基準に絶対配置 */
    top: 5px;
    right: 10px;
    z-index: 2; /* ボックスの重なりの優先順位を指定。数値が大きいほど、手前（上）に配置される */
    display: block; /* ブロックレベル性質になるため、幅・高さを指定できる */
    width: 44px;
    height: 44px;
    background: url("./img/burger.svg") center center / 35px 20px no-repeat; /* ハンバーガーボタンの画像を指定 */
    cursor: pointer; /* カーソルの形状を指定 */
  }
  
  /* メニューが開いたときの、ハンバーガーボタンの画像を指定 */
  .nav-toggle:checked ~ .btn-burger {
    background: url("./img/close.svg") center center / 26px 26px no-repeat;
  }
  
  /* ナビゲーション */
  .nav {
    padding-top: 10px;
    background: url("./img/nav_bg.png") center center / cover no-repeat;
  }
  
  .nav-list {
    display: none; /* 最初はメニュー（ul要素）を非表示にしておく指定 */
    margin: 0;
    padding-bottom: 10px;
  }
  
  .nav-list li {
    margin: 0;
    padding: 10px;
  }
  
  .nav-list a {
    display: block;  /* ブロックレベルで扱い、縦並びに表示している */
    color: #fff;
  }
  
  /* メニューが開いたとき、<ul>を表示する */
  .nav-toggle:checked ~ .nav .nav-list {
    display: block;
  }
  
  /* ----------ナビゲーションのスタイル指定 ここまで---------- */
  